header
    .header_row
        .header_left
            a.logo(href='#')
                span.logo_bg
        .header_center
            .header_contact
                .header_row
                    .header_row-left
                        | Москва:
                        |
                        |
                        a(href='tel:+74995055003') +7 (499) 505-50-03
                    .header_row-right
                        a(href="#") Заказать звонок
                .header_row
                    .header_row-left
                        | Регионы РФ:
                        |
                        |
                        a(href='tel:+78003335911') +7 (800) 333-59-11
                    .header_row-right или
                        |
                        |
                        a(href="#") написать нам
            .search
                form(name='search')
                    input(type="text" id="SearchText" name="SearchText" maxlength="255" size="30" placeholder="Поиск среди 35 000 товаров")
                    input(type="button" id="SearchGroup" name="SearchGroup" value=" ")
        .header_right
            .header_right-top
                a(href="#") Войти
                |
                |
                | или
                |
                |
                a(href="#") зарегистрироваться
            .header_right-bottom
                .header_row
                    .basket
                        a(href="#") Корзина
                    .price
                        span 1 400
                        |
                        |
                        | руб.
                .delivery Доставка: с 09:00 до 19:00 (МСК)




