.nav
    input.mobile-menu-checkbox(type='checkbox' id='mobile-menu-checkbox')
    label.mobile-menu(for='mobile-menu-checkbox') &#9776;
    .nav-menu
        a.submenu(href="#") По вредителям
        a.submenu(href="#") По виду продукции
        a.submenu(href="#") По брендам
        a.submenu(href="#") Аксессуары
        a(href="#") Акции
        a(href="#") База знаний