- var titles = ['«Коготь» SuperCat Ловушка для мышей', 'SuperCat Ловушка', 'Крысоловка Swissinno SuperCat', 'Victors Электронный уничтожитель грызунов', 'SuperCat', 'Электронный уничтожитель'];
- var prices = ['1 400', '300', '850', '2500', '110', '1 250' ];
.slide-content
    .slide-content_block
        - var imageTabs = `img/tabs/${Math.trunc(Math.random()*3 + 1)}.jpg`;
        .slide-content-wrap-img
            .slide-content-img
                img(src=imageTabs alt='' title='')
        .slide-content-title #{titles[Math.round(Math.random()*titles.length)]}
        .slide-content-price
            span #{prices[Math.round(Math.random()*prices.length)]}
            |
            |
            | руб.
