doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&amp;subset=cyrillic" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="js/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="js/slick/slick-theme.css")
        link(rel="stylesheet" href="css/style.css")

        title Index

    body.index
        .wrapper
            include modules/header.pug
            include modules/nav.pug
            .info
                .info_left
                    .info_block
                        .info_icon-wrap
                            .info_icon
                                img(src="img/cube.png" alt='' title='')
                        .info_block-left
                            .info_title
                                span Оптовикам
                            .info_text Приглашаем к сотрудничеству организации и физических лиц для работы в качестве наших дилеров или торговых представителей.
                    .info_block
                        .info_icon-wrap
                            .info_icon
                                img(src="img/question.png" alt='' title='')
                        .info_block-left
                            .info_title
                                span Задать вопрос
                            .info_text Если у вас возникли вопросы, то наши эксперты «REST 911» обязательно ответят на них!
                    .info_block
                        .info_icon-wrap
                            .info_icon
                                img(src="img/play.png" alt='' title='')
                        .info_block-left
                            .info_title
                                span Видео
                            .info_text Полезные советы по борьбе с вредителями в саду, дома и производстве.
                .info_right
                    .info-slider
                        .slide-content
                            .slide-content-img(style="background-image: url('img/slick/1.jpg')")
                        .slide-content
                            .slide-content-img(style="background-image: url('img/slick/2.jpg')")
                        .slide-content
                            .slide-content-img(style="background-image: url('img/slick/3.jpg')")
            .slider.slider-nav.slider-nav-tabs
                .tab-title
                    span Новинки
                .tab-title
                    span Рекомендуем
                .tab-title
                    span Хиты продаж
                .tab-title
                    span Акции
                .tab-title
                    span Бренды
            .slider.slider-for.slider-for-tabs
                .tabs__text
                    .tabs-slider
                        - var slideContent = 8;
                            while slideContent > 0
                                include modules/slide-content.pug
                                - slideContent--;
                .tabs__text Officia tempore fuga ad!
                .tabs__text Lorem ipsum dolor sit, amet
                .tabs__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi eos fugit id illo, illum, mollitia nemo nisi officia officiis quae quam quas quidem reiciendis rerum voluptates voluptatum? Accusantium commodi dolor ea est maiores possimus quibusdam quo tempore? Delectus explicabo hic libero, modi nulla soluta. Architecto doloribus eius esse eveniet excepturi itaque natus, numquam odio porro quam quisquam, reiciendis tempora!
                .tabs__text Lorem ipsum dolor sit amet, consectetur adipisicing
            .rating
            .about
                .video
                    h2 Видео
                    .video-wrap
                        .video-container
                            img(src="img/video.jpg" alt='' title='')
                .reviews
                    h2 Отзывы
                    .review
                        .review-title
                            .review-photo
                                img(src="img/review.png" alt='' title='')
                            .review-about
                                .review-name Ларина Светлана
                                .review-career
                                    span Садовод-любитель.
                                    span Стаж 2 года
                        .review-text Кстати, насчет кротов, был случай: крот проделал ход под сараем. Откопали нору, направили туда отпугиватель. За неделю крот ушел незнамо куда. На улице такие эксперименты не проводила.
                    a.review-more(href='#')
                        span Посмотреть все отзывы
                .subscription
                    h2 Подписаться
                    p Подпишитесь на рассылку, чтобы первыми узнавать о наших новинках и получать призы
                    form(method='get' name='subscription')
                        input(type='email' name='email' placeholder='*Эл. почта' required)
                        input(type='text' name='name' placeholder='Имя')
                        input(type='submit' value='Подписаться')
                    P Заполните
                        |
                        |
                        a(href='#') анкету
                        |
                        |
                        | и получайте индивидуальные предложения!
        include modules/footer.pug
    include modules/script.pug




