@font-face {
  font-family: 'impact';
  src:  url('../fonts/impact.eot');
  src:  url('../fonts/impact.svg');
  src:  url('../fonts/impact.woff') format('woff');
  src:  url('../fonts/impact.woff2') format('woff2');
  src:  url('../fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
