@import "smart-grid";
footer {
  background-color: $color-7;
  padding: 25px 0;
  h3 {
    color: $color-0;
    margin-bottom: 10px;
    margin-top: 0;
  }
}
.footer {
  &_bottom {
    @include row-flex();
    align-items: center;
    color: $color-0;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 20px;
    &-left,
    &-center {
      @include col();
      @include size(3);
      @include size-md(4);
      @include size-sm(6);
    }
    &-right {
      @include col();
      @include size(6);
      @include size-md(4);
      @include size-sm(12);
      .privacy {
        text-align: right;
        a {
          color: $color-3;
        }
      }

    }
    .footer_nav-2 a:not(:last-child) {
      margin-right: 15px;
    }
  }
  &_top {
    @include row-flex();
    &-col {
      @include col();
      @include size(3);
      @include size-md(6);
    }
  }
  &_nav-1 {
    display: flex;
    flex-direction: column;
    a {
      font-size: 14px;
      line-height: 1.43;
      color: $color-2;
      &:hover {
        color: $color-0;
      }
    }
  }
  &_nav-2 {
    display: flex;
    flex-wrap: wrap;
    a {
      margin-right: 5px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}