header {
  padding: 25px 0;
}
.logo {
  display: block;
  position: relative;
  &_bg {
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 51.15%;
    position: absolute;
    width: 100%;
  }
}
.header {
  &_left,
  &_right {
    width: 25%;
  }
  &_center {
    max-width: 460px;
    padding-left: 35px;
    width: 50%;
  }
  &_left{
    max-width: 158px;
  }
  &_row {
    display: flex;
    justify-content: space-between;
    &-left {
      color: $color-3;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.44;
      width: 75%;
      a {
        color: $color-3;
        font-family: 'PT Sans Caption', sans-serif;
        font-size: 18px;
        font-weight: bold;
        padding-left: 5px;
        text-decoration: none;
      }
    }
    &-right {
      font-size: 14px;
      margin-top: 5px;
      width: 25%;
      a {
        border-bottom: dashed 1px $color-7;
        color: $color-3;
        text-decoration: none;
        &:hover {
          color: $color-7;
        }
      }
    }
  }
  &_contact {
    margin-bottom: 12px;
    margin-top: -12px;
  }
  &_right {
    max-width: 196px;
    &-top {
      font-size: 14px;
      margin-bottom: 12px;
      margin-top: -7px;
      a {
        border-bottom: dashed 1px $color-7;
        color: $color-3;
        text-decoration: none;
        &:hover {
          color: $color-7;
        }
      }
    }
    &-bottom {
      border-radius: 2.4px;
      background: $color-8;
      padding: 8px 9px;
      .basket {
        background: url("../img/basket.png") no-repeat;
        font-size: 15px;
        padding-left: 30px;
        a {
          color: $color-3;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .price {
        font-size: 14px;
        span {
          font-size: 15px;
          font-weight: bold;
        }
      }
      .delivery {
        color: $color-0;
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
}


.search {
  form {
    position: relative;
  }
  input[type='text'] {
    border: solid 1px $color-5;
    border-radius: 2.4px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    padding: 6px 10px;
    width: 100%;
    &::placeholder {
      font-size: 14px;
      line-height: 1.71;
      color: $color-4;
    }
    &:focus {
      &::placeholder {
        color: $color-0;
      }
    }
  }
  input[type='button'] {
    background: $color-6 url("../img/search.png") no-repeat center;
    border: none;
    border-top-right-radius: 2.4px;
    border-bottom-right-radius: 2.4px;
    cursor: pointer;
    height: 30px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    &:hover {
      opacity: 0.8;
    }
  }
}