@import "smart-grid";

body {
  color: $color-3;
  font-family: 'PT Sans', sans-serif;
}
h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 24px;
  line-height: 0.83;
  margin: 0;
  text-transform: uppercase;
}
.info {
  @include row-flex();
  margin: 30px 0;
  &_left {
    @include col();
    @include size(4);
    @include size-md(6);
    @include size-sm(12);
    padding-right: 20px;
  }
  &_right {
    @include col();
    @include size(8);
    @include size-md(6);
    @include size-sm(12);
  }
  &_block {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &-left {
      padding-top: 8px;
    }
  }
  &_icon {
    align-items: center;
    border: 3px solid #82c044;
    border-radius: 50%;
    display: inline-flex;
    height: 45px;
    justify-content: center;
    margin-right: 15px;
    width: 45px;
  }
  &_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    span {
      border-bottom: 2px solid $color-7;
    }
  }
  &_text {
    color: $color-4;
    font-size: 14px;
    line-height: 1.29;
  }
  .info-slider {
    .slick-prev {
      left: 25px;
      &:before {
        background: url("../img/slick-sprite.png") no-repeat -60px 0;
      }
    }
    .slick-next {
      right: 25px;
      &:before {
        background: url("../img/slick-sprite.png") no-repeat -75px 0;
      }
    }
    .slick-slide>div {
      padding-bottom: 51.564%;
      position: relative;
    }
  }
  .slide-content {
    overflow: hidden;
    position: absolute;
    transition: transform .2s ease-in-out;
    height: 100%;
    &-img {
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }
}
.rating {
  border-bottom: 1px solid $color-9;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 35px;
  &-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  &-block {
    color: $color-3;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    &:hover {
      .rating-img {
        border: 2px solid $color-7;
      }
      .rating-title {
        color: $color-7;
        span {
          border: none;
        }
      }
    }
  }
  &-img {
    border: 2px solid transparent;
    border-radius: 50%;
    height: 122px;
    width: 122px;
  }
  &-title {
    margin-top: 10px;
    span {
      border-bottom: 2px solid $color-7;
    }
  }
}
.about {
  @include row-flex();
  h2 {
    margin-bottom: 40px;
  }
}
.video {
  @include col();
  @include size(5);
  @include size-md(12);
  padding-right: 19px;
  margin-bottom: 40px;
  &-wrap {
    height: 0;
    padding-bottom: 56.17%;
    position: relative;
  }
  &-container {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
.review {
  &s {
    @include col();
    @include size(4);
    @include size-md(6);
    @include size-sm(12);
    padding-right: 5%;
  }
  &-title {
    display: flex;
  }
  &-about {
    display: flex;
    flex-direction: column;
  }
  &-photo {
    margin-right: 14px;
    width: 78px;
  }
  &-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
  }
  &-career {
    font-size: 14px;
    color: $color-4;
    span {
      display: block;
    }
  }
  &-text {
    color: $color-3;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.1px;
    &:before,
    &:after {
      font-size: 31px;
      letter-spacing: -0.3px;
      line-height: 10px;
      color: $color-7;
      position: relative;
      top: 3px;
    }
    &:before {
      content: '«';
      margin-right: 3px;
    }
    &:after {
      content: '»';
      margin-left: 3px;
    }
  }
  &-more {
    color: $color-3;
    display: inline-block;
    font-size: 14px;
    line-height: 1.43;
    margin-top: 20px;
    text-decoration: none;
    span {
      border-bottom: 1px solid #82c044;
    }
    &:hover {
      span {
        border-bottom: none;
      }
    }
  }
}
.subscription {
  @include col();
  @include size(3);
  @include size-md(6);
  @include size-sm(12);
  p {
    font-size: 14px;
    line-height: 1.29;
    color: $color-4;
    a {
      border-bottom: 1px solid $color-7;
      color: $color-3;
      text-decoration: none;
      &:hover {
        border: none;
      }
    }
  }
  input[type='email'],
  input[type='text'] {
    border: none;
    border-bottom: 1px solid $color-3;
    margin-bottom: 10px;
    outline: none;
    padding-bottom: 3px;
    width: 100%;
    &::placeholder {
      color: $color-4;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  input[type='submit'] {
    border-radius: 2.4px;
    background-color: $color-6;
    border: none;
    color: $color-0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 39px;
    outline: none;
    margin-top: 14px;
    width: 100%;
    &:hover {
      opacity: 0.8;
    }
  }
}

