.nav {
  background-color: $color-8;
  border-radius: 2.4px;
  height: 44px;
  &-menu {
    display: flex;
    line-height: 44px;
    justify-content: space-between;
  }
  a {
    color: $color-2;
    font-size: 14px;
    padding: 0 2%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: $color-0;
      &.submenu {
        &:after {
          border-color: $color-0 transparent;
        }
      }
    }
    &.submenu {
      &:after {
        border-color: $color-3 transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        content: '';
        display: inline-block;
        height: 0;
        position: relative;
        bottom: 3px;
        left: 10px;
        width: 0;
      }
    }
  }
}
.mobile-menu,
.mobile-menu-checkbox {
  display: none;
}