.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-dots {
  bottom: 10px;
}
.slick-prev, .slick-next {
  height: 40px;
  width: 15px;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    height: 40px;
    opacity: 1;
    width: 15px;
  }
}
