.slider-nav-tabs {
  background-color: $color-7;
  border-top-left-radius: 2.4px;
  border-top-right-radius: 2.4px;
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  user-select: none;
  text-transform: uppercase;
  .tab-title {
    text-align: center;
    &:hover {
      color: $color-0;
    }
  }
  .slick-slide {
    padding: 0 25px;
    position: relative;
    &.slick-current {
      .tab-title {
        color: $color-0;
        &:after {
          content: '';
          border: 23px solid transparent;
          border-bottom: 10px solid $color-9;
          bottom: 0;
          position: absolute;
          left: calc(50% - 23px);
        }
      }

    }
  }
}
.slider-for-tabs {
  .slide-content {
    &_block {
      align-items: center;
      align-content: stretch;
      background-color: $color-0;
      border: solid 2px $color-0;
      border-radius: 2.4px;
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: space-between;
      padding: 5px;
      &:hover {
        border: solid 2px $color-7;
      }
    }
    &-img {
      align-items: center;
      display: inline-flex;
      height: 120px;
      justify-content: center;
    }
    &-title {
      font-size: 14px;
      line-height: 1.29;
      text-align: center;
    }
    &-price {
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 5px;
      margin-top: auto;
      span {
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
      }
    }
  }
}
.tabs {
  &__text {
    background-color: $color-9;
    box-sizing: border-box;
    min-height: 284px;
    padding: 35px 25px;
  }
  &-slider {
    .slick-slide {
      margin: 0 25px;
    }
    .slick-prev {
      left: -10px;
      &:before {
        background: url("../img/slick-sprite.png") no-repeat 0 0;
      }
      &:hover {
        &:before {
          background: url("../img/slick-sprite.png") no-repeat -30px 0;
        }
      }
    }
    .slick-next {
      right: -10px;
      &:before {
        background: url("../img/slick-sprite.png") no-repeat -15px 0;
      }
      &:hover {
        &:before {
          background: url("../img/slick-sprite.png") no-repeat -45px 0;
        }
      }
    }
  }
}